* {
    margin: 0;
    padding: 0;
}
body {
    font-family: "Montserrat";
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.8;
    color: #777d74;
    background: #f8f9fa;
}

h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
    margin-bottom: 0;
    font-family: Poppins, sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: #3f414d;
}
::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
    -webkit-border-radius: 20px;
    border-radius: 20px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
    -webkit-border-radius: 20px;
    border-radius: 20px;
}
::-webkit-scrollbar-thumb {
    background: #777d74;
    -webkit-border-radius: 20px;
    border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover {
    background: #212529;
    -webkit-border-radius: 20px;
    border-radius: 20px;
}
.card__header {
    margin-bottom: 20px;
    padding: 15.008px 20px;
    border: 0;
    border-bottom: 1px solid #f1f1f1;
}
.card__header h3 {
    font-size: 19.6px;
}
.input input,
.address textarea,
select {
    padding: 6px 12px;
    margin: 0 !important;
    display: block;
    font-size: 14px;
    font-weight: 400;
    box-sizing: border-box;
    line-height: 1.8;
    color: #777d74;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da !important;
    border-radius: 5px;
    width: 100% !important;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}