article.comment {
    margin-top: 15px;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}
article.comment .user a{
    text-decoration: none;
}
article.comment .user img{
    height: 35px;
    width: 35px;
    border-radius: 50%;
}
article.comment .content h6 {
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 0;
    font-family: Poppins, sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: #3f414d;
}
article.comment .content p {}